body{
  background-color:rgb(187, 184, 184);
}

#username-sidebar{
  position: absolute;
  right:200px;
  color:white;
  top:30px
}
#side-bar{
  /* margin-top: -4px; */
  margin-left: -8px;
  position: absolute;
  height: 100%;
  width: 270px;
  background-color: black;
  color: white;
  float:left;
  order: 0;
  
}

#profile-pic{
  margin-top: 40px;
  margin-left: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
 
}

#name{
  font-size: 35px;
  color:rgb(83, 117, 107);
  text-align: center;
}

#side-bar a{
  color:white;
  display: inline;
  text-decoration: none;
}

#side-bar i{
  margin: 15px;
}

#nav-bar{
  margin-top: -8px;
  height: 110px;
  width: 100%;
  color: red;
  background-color: rgb(58, 149, 86);
}
#header{
  position: absolute;
  left:320px;
  font-size: 40px;
  letter-spacing: 2px;
  top:-10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}
#nav-bar a{
  height: 40px;
  width: 40px;
  color:rgb(85, 217, 240);
}

/* Log - out - Button  */
#log-out{
  position: absolute;
  right: 50px;
  top:30px;
	border-radius: 20px;
	font-size: 15px;
	background-color: #fa5454;
	width: 130px;
	height: 40px;
	border-style: none;
	color:white;
	letter-spacing: 2px;
  box-shadow: inset;
  box-shadow:1px 2px 3px #83c7e2;
  text-decoration: none;
  
}
#log-out p{
  text-align: center;
  text-decoration: none;
  color:white;
	letter-spacing: 2px;
  margin-top:10px;
}
#log-out a{
  text-align: center;
  text-decoration: none;
  margin-top:30px;
}
#log-out:hover{
  width: 150px;
  height: 45px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  height: 80%;
  position: absolute;
  top:120;
  width: 80%;
  left:120px;
}
.div-1{
  background-color: rgb(247, 129, 83);
}

.div-2{
  background-color: aquamarine;
}

.div-3{
  background-color: rgb(113, 169, 243);
}

.design{
  width: 400px;
  height: 280px;
  text-align: center;
  color: rgb(248, 246, 246);
  border-radius: 10px;
  text-shadow: 1px 2px 15px #807d80;
  box-shadow:inset 1px 2px 15px #afaaac;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS';
  letter-spacing: 2px;
  border: solid rgb(155, 152, 152) 1px;
  transition:0.5s ease-in-out;
}

.design:hover{
  font-size: larger;
  text-shadow: 1px 2px 15px #928e92;
  width: 500px;
  height: 320px;
  box-shadow:inset 1px 2px 15px 10px #d1d0d0;
}

#footer{
  background-color: midnightblue;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  /* left:200px; */
  margin-left: -9px;
  text-align: center;
  overflow: hidden;
  
}

#footer-text{
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}